body {
  background-color: slategray;
}

td {
  height: 100%;
}

button {
  width: 100%;
  height: 100%;
}

#mesa {
  width: 80%;
  height: 100%;
}

input[type="radio"] {
  display: none;
}

.accion {
  margin-right: .2rem;
}

.nln {
  display: inline-block;
  float: right;
  width: 120px;
  margin-left: .375rem;
}
